<h1>Dragon ball</h1>
<hr />

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Add new DragonBall character: {{ name() }}</h3>
    <input
      type="text"
      class="form-control"
      placeholder="Name"
      [value]="name()"
      (change)="name.set(txtName.value)"
      (input)="name.set(txtName.value)"
      #txtName
    />

    <h3>Power: {{ power() }}</h3>
    <input
      type="number"
      class="form-control mt-2"
      placeholder="Power"

      [value]="power()"
      (change)="power.set(+numPower.value)"
      (input)="power.set(+numPower.value)"
      #numPower
    />

    <button (click)="addCharacter()" class="mt-2 btn btn-primary">Puchear</button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>List</h3>
    <ul>
      @for (character of characters(); track character.id; let idx = $index) {
      @if(character.power > 500){
      <li class="g-10">
        <span>{{ idx + 1 }} - {{ character.name }}</span>
        <strong [class.text-danger]="character.power > 1000">
          ({{ character.power }})</strong
        >
      </li>
      } @else {
      <li>
        <span><strong>Un bobito el que iba aqui</strong></span>
      </li>
      } }
    </ul>
  </div>
</section>
